.header {
    position: relative;
    width: 100%;
    min-height: 15vh;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-icon {
    margin-left: 60px;
    width: 141px;
    height: 141px;
}

.header-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 49px;
    flex-grow: 1;
}

.nav-link {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.nav-link:hover {
    color: var(--main-color);
}

.header-actions {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.register-link {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: black;
    opacity: 40%;
    margin-right: 18px;
}

.register-link:hover {
    color: var(--main-color);
    opacity: 100%;
}

.divider {
    width: 2px;
    height: 26px;
    background-color: var(--main-color);
    margin-right: 20px;
}

.login-button {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    color: var(--black);
    background-color: var(--additional-turquoise-color);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.user-info {
    display: flex;
    align-items: end;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: right;
}

.user span{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /*text-align: right;*/
}

.user a {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 40%;
    padding: 0px;
}

.avatar img {
    height: 50px;
    width: 50px;
}

.logout-button{
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    text-decoration: none;
    color: black;
    text-align: right;
}

.logout-button:hover {
    color: var(--main-color);
}

.limit-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 175px;
    border-radius: 5px;
    margin-inline: 49px;
    background-color: #F2F2F2;
    list-style-type: none;
    vertical-align: middle;
}

.limit-info-text {
    padding: 7px 10px 7px 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: right;
    opacity: 40%;
}

.limit-quantity {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.limit-quantity-green {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #8AC540;
}


