.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    min-height: 15vh;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-icon {
    margin-left: 60px;
    width: 141px;
    height: 141px;
    position: fixed;
    z-index: 9999;
    right: auto;
}

.header-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 49px;
    flex-grow: 1;
}

.nav-link {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.nav-link:hover {
    color: var(--main-color);
}

.header-actions {
    display: flex;
    align-items: center;
    margin-right: 60px;
    position: fixed;
    right: 0;
}

.register-link {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: black;
    opacity: 40%;
    margin-right: 18px;
}

.register-link:hover {
    color: var(--main-color);
    opacity: 100%;
}

.header-divider {
    width: 2px;
    height: 26px;
    background-color: var(--main-color);
    margin-right: 20px;
}

.login-button {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: var(--black);
    background-color: var(--additional-turquoise-color);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.user-info {
    display: flex;
    align-items: end;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: right;
}

.user span{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /*text-align: right;*/
}

.user a {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 40%;
    padding: 0;
}

.avatar img {
    height: 50px;
    width: 50px;
}

.logout-button{
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-decoration: none;
    color: black;
    text-align: right;
}

.logout-button:hover {
    color: var(--main-color);
}

.limit-info-container {
    /*display: flex;*/
    /*flex: 0 0 175px;*/
    /*height: 63px;*/
    /*width: 100%;*/
    /*min-width: 175px;*/
    /*margin-right: 130px;*/
    /*border-radius: 5px;*/
    /*background-color: #F3F3F3;*/
    /*border: none;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 175px;
    text-align: center;
    border-radius: 5px;
    margin-inline: 49px;
    background-color: #F2F2F2;
    list-style-type: none;
    vertical-align: middle;
}

.limit-data {
    display: grid;
    grid-template-columns: 3.2fr 0.8fr;
    grid-row-gap: 0;
    grid-column-gap: 5px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;

}

.text-item, .number-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.text-item {
    text-align: right;
    justify-content: flex-end;
    font-size: 10px;
    font-weight: 400;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    line-height: 100%;
    letter-spacing: 0.02em;

}

.used-quantity {
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 2px;
}

.limit-quantity {
    opacity: 1;
    font-size: 14px;
    color: #8AC540;
    margin-left: 2px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.loader {
    font-size: 18px;
    animation: spin 2s linear infinite;
    background-image: url("../assets/img/spinner.png");
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

}

.burger-bar {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.burger-bar:hover {
    color: lightgray;
}

.burger-container {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
}

.hamburger {
    top: 16px;
    width: 30px;
    height: 4px;
    background: var(--main-color);
    color: #029491;
    position: absolute;
    transition: 0.5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--main-color);
    transition: 0.5s;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: auto;
    transform: rotate(135deg);
    background: var(--white);
    position: fixed;
    z-index: 2000;
    right: auto;
}

.icon.active .hamburger:after {
    top: auto;
    transform: rotate(225deg);
    background: var(--white);
    position: fixed;
    z-index: 2000;
    right: auto;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 49px;
    flex-grow: 1;
    margin-right: 200px;
}

.menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--main-color);
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 1000px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-nav,
    .user-info,
    .header-divider {
        display: none;
    }

    .burger-container {
        display: flex;
    }

    .nav-link {
        padding: 10px;
    }

    .header-icon {
        left: 14px;
        margin-left: 0;
    }

    .container {
        width: 100%;
    }

    .search .request-btn {
        width: 100%;
        margin-top: 0;
    }

    .title-context {
        max-width: 100%;
    }

    .reg-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .register-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: var(--white);
        text-decoration: none;
        margin: 50px 0 20px;
    }

    .register-link:hover {
        color: var(--additional-turquoise-color);
        opacity: 100%;
    }

    .login-button {
        background-color: var(--additional-turquoise-color);
        width: 295px;
        height: 52px;
        /*padding: 12px 50px;*/
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .login-button:hover {
        background-color: var(--additional-turquoise-color);
        opacity: 100%;
        color: var(--main-color);
    }

    .user-info {
        font-size: 16px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 75px;
        text-align: center;
        height: 80px;
        color: #FFFFFF;
    }


    .user a {
        font-size: 16px;
        color: #FFFFFF;
        margin: 10px;
    }

    .avatar img {
        height: 80px;
        margin: 50px 0 0;
    }

    .logout-button:hover {
        color: var(--additional-turquoise-color);
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {
    .limit-info-container {
        margin: 3em;
        flex: 0 0 132px;
        height: 75px;
        width: 100%;
        min-width: 132px;
    }

    .limit-data {
        display: flex;
        flex-direction: column;
        row-gap: 3px;;
    }

    .text-item, .number-item {
        justify-content: left;
    }
}
