.login-page {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    top: 65px;
}

.login-form-container {
    width: 480px;
    height: 578px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.login-form {
    width: 429px;
    height: 523px;
    top: 162px;
    left: 870px;
    margin-top: -45px;
    margin-left: 45px;
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #00000026;
    padding: 25px 0;
}

.lock-icon {
    z-index: 2;
    width: 75.22px;
    height: 92.06px;
}

.form-tabs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.login-btn {
    font-size: 16px;
    width: 151px;
    height: 27px;
    top: 214px;
    border: none;
    background-color: #FFFFFF;
    color: #C7C7C7;
    cursor: pointer;
}

.login-btn.active {
    color: var(--main-color);
}

.register-btn {
    font-size: 16px;
    width: 213px;
    height: 27px;
    top: 214px;
    border: none;
    background-color: #FFFFFF;
    color: #C7C7C7;
    cursor: pointer;
}

.register-btn.active {
    color: var(--main-color);
}

.tab-line {
    margin-top: 8px;
    height: 2px;
    background-color: #C7C7C7;
}

.tab-line.active {
    background-color: var(--main-color);
}

.tab {
    /*padding: 10px;*/
    text-align: center;
    color: #C7C7C7;
    text-decoration-line: none;
}

.tab.active {
    color: var(--main-color);
    cursor: default;
}

.login-page label {
    display: block;
    margin: 25px;
    font-size: 16px;
    color: var(--grey);
}

.login-page input {
    margin-top: 15px;
    font-size: 16px;
    width: 379px;
    height: 43px;
    top: 290px;
    left: 895px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0 0 20px 0 #0000000D;
}

.submit-button {
    margin: 5px 25px;
    background-color: var(--additional-blue-color);
    color: var(--white);
    width: 379px;
    height: 59px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}

.submit-button:disabled {
    opacity: 50%;
}

.forgot-password {
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-underline-position: from-font;
    color: var(--additional-blue-color);
}

.social-login {
    margin: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--grey);
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 308px;
    height: 65px;
}

.social-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 31px;
    border-radius: 3px;
    border: 1px solid var(--additional-blue-color);
    cursor: pointer;
    background-color: white;
}

.img-container {
    display: none;
}


@media screen and (max-width: 1000px) {
    .login-page {
        display: flex;
        flex-direction: column;
    }

    .container img {
        display: none;
    }

    .login-form-container {
        justify-content: center;
        margin-bottom: 100px;
        width: 335px;
    }

    .lock-icon {
        margin-left: -25px;
    }

    .login-form {
        width: 335px;
        height: 460px;
        margin-top: -15px;
    }

    .login-btn {
        width: 103px;
        height: 27px;
        top: 214px;
    }

    .register-btn {
        font-size: 16px;
        width: 182px;
        height: 27px;
        top: 214px;
        border: none;
        background-color: #FFFFFF;
        color: #C7C7C7;
        cursor: pointer;
    }

    .login-btn, .register-btn {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.02em;

    }

    .login-page label {
        font-size: 14px;
        margin: 15px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.02em;
    }

    .login-page input {
        font-size: 14px;
        width: 305px;
        height: 43px;
        margin-bottom: 5px;
    }

    .submit-button {
        margin: 15px 15px 0;
        width: 305px;
    }

    .social-login {
        margin: 25px 15px;
    }

    .img-container {
        display: block;
    }
}
