.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.search {
    position: relative;
    max-width: 1440px;
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
    align-items: start;
    top: 109px;
}

.search h1 {
    margin: 0;
    font-family: "Ferry", serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.01em;
}

/*.search h2 {*/
/*    margin: 109px 60px 70px;*/
/*    font-family: "Ferry", serif;*/
/*    font-size: 45px;*/
/*    font-weight: 900;*/
/*    line-height: 54px;*/
/*    letter-spacing: 0.01em;*/
/*    text-align: left;*/
/*}*/

.search .request-btn {
    width: 335px;
    height: 59px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #5970FF;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.search .request-btn:hover {
    opacity: 0.6;
}

.search .search-img {
    position: relative;
    transform: translateY(-27px)
}

.search-img {
    max-width: 100%;
    height: auto;
}

.why-us {
    margin: 2% 50px 2% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .search {
        display: block;
    }

    .search .search-img {
        align-self: center;
        transform: translateY(0px)
    }

    .why-us {
        justify-content: flex-start;
    }

    .search {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .search .request-btn {
        width: 100%;
        margin-top: 0;
    }

    .title-context {
        max-width: 100%;
    }

    .search h1 {
        font-size: 28px;
        line-height: 33.6px;
    }
}