.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 730px;
}

.about-container {
    position: relative;
    max-width: 1340px;
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
    align-items: start;
    top: 109px;
}

.about-container h1 {
    margin: 0;
    font-family: "Ferry", serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.01em;
}

/*.search h2 {*/
/*    margin: 109px 60px 70px;*/
/*    font-family: "Ferry", serif;*/
/*    font-size: 45px;*/
/*    font-weight: 900;*/
/*    line-height: 54px;*/
/*    letter-spacing: 0.01em;*/
/*    text-align: left;*/
/*}*/

.about-container .request-btn {
    width: 335px;
    height: 59px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #5970FF;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.about-container .request-btn:hover {
    opacity: 0.6;
}

.about-img {
    max-width: 100%;
    height: auto;
}

.why-us {
    margin: 2% 50px 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1360px) {
    .main-container {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
    }

    .about-container {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
    }

    .about-container h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .about-img {
        align-self: center;
        transform: translateY(0px);
        width: 330px;
    }

    .about-container img {
        width: 330px;
    }

    .request-btn {
        width: 100%;
        margin-top: 0;
    }

    .why-us {
        justify-content: flex-start;
        max-width: 375px;
    }

    .why-us img {
        height: 392px;
    }

    .title-context {
        max-width: 100%;
    }
}