.publication-card {
    width: 570px;
    /*height: 694px;*/
    padding: 30px;
    box-shadow: 0 0 10px 0 #00000033;
    border-radius: 10px;
    margin: 20px;
}

.publication-info {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.publication-info {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.publication, .publication-source {
    font-size: 16px;
    color: var(--grey);
}

.publication-source {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 30px;
}

.publication-title {
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    font-size: 26px;
    margin-bottom: 10px;
    min-height: 120px;
}

.tag {
    width: 157px;
    height: 22px;
    border-radius: 5px;
    font-size: 12px;
    /*font-family: 'Inter', sans-serif;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: var(--additional-yellow-color);
}

.publication-picture {
    max-height: 158px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.publication-content {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    opacity: 0.5;
    margin-bottom: 20px;
}

.publication-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-original {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--additional-turquoise-color);
    color: black;
    width: 223px;
    height: 47px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;

}

.publication-footer .read-more:hover {
    cursor: pointer;
    background-color: var(--additional-yellow-color);
    color: var(--black);
}

.word-count {
    font-size: 16px;
    opacity: 0.5;
}

@media (max-width: 1360px) {
    .publication-card {
        width: 295px;
        /*height: 694px;*/
        padding: 20px;
    }

    .publication-date, .publication-source {
        font-size: 14px;
        color: var(--grey);
    }

    .publication-source {
        margin-left: 10px;
    }

    .publication-title {
        font-size: 19px;
        letter-spacing: 0.01em;
        margin-bottom: 20px;
        min-height: 100px;
    }

    .publication-content {
        font-size: 12px;
        min-height: 220px;
        max-height: 220px;
        width: 315px;
        -webkit-line-clamp: 10;
    }

    .read-more {
        width: 195px;
        height: 41px;
        font-size: 14px;
    }

    .word-count {
        font-size: 14px;
        /*margin-top: 26px;*/
    }
}
