h1 {
    font-family: "Ferry", serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.04em;
}

.results-title {
    margin-top: 20px;
}

.request-btn {
    width: 335px;
    height: 59px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #5970FF;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
