.search {
    position: relative;
    max-width: 1440px;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 817px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-images {
    display: flex;
    flex-direction: column;
    gap: 108px;
}

.documents {
    display: flex;
    flex-direction: row;
    gap: 166px;
}

.search p {
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

.document img {
    margin: 63px 64px 14px 62px;
    width: 91px;
}

.searching-man {
    margin-left: 10%;
}
