.formContainer {
    width: 872px;
    height: 543px;
    background: #FFFFFF;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
    min-width: 730px;
    margin-bottom: 80px;
}

.formContainer p {
    font-size: 14px;
    color: var(--grey);
    margin-top: 10px;
    line-height: 16.94px;
}

.inputContainer {
    width: 60%;
}

.label {
    display: block;
    margin: 10px;
    font-size: 14px;
    color: var(--grey);
}

.input,
.select,
.dateInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input,
.dateInput::placeholder {
    color: var(--grey);
    text-align: center;
}

select.custom-select {
    background: #FFFFFF url('../assets/img/dropdown-arrow.svg') no-repeat right 10px center;
    border: 1px solid #ccc;
    padding: 10px 30px 10px 10px; /* Резервируем место под стрелку */
    -webkit-appearance: none; /* Стиль для Safari */
    -moz-appearance: none;    /* Стиль для Firefox */
    appearance: none;         /* Стиль для прочих браузеров */
    width: 65%;
    border-radius: 5px;
    font-size: 14px;
}

select.custom-select:focus {
    border-color: var(--grey);
}

.dateInput {
    width: 176px;
}

.dateRange {
    display: flex;
    gap: 10px;
}

.button-container {
    margin-left: 15%;
}

.button {
    margin-top: 8ch;
    width: 305px;
    height: 50px;
    background-color: var(--additional-blue-color);
    color: var(--white);
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
