.search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
    margin: 0;
}

.search h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.title-container {
    width: 817px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-context p {
    color: var(--black);
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 450px;
}

.title-context {
    margin: 20px 0 47px 0;
}

.search-image {
    display: flex;
    flex-direction: column;
    gap: 108px;
}

.documents {
    display: flex;
    flex-direction: row;
    gap: 40%;
}

.document img {
    margin: 63px 64px 14px 62px;
    width: 91px;
}

@media screen and (max-width: 1360px) {
    .search {
        max-width: 375px;
        flex-direction: column;
    }

    .search h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .title-container {
        width: 361px;
    }

    .title-context {
        margin: 20px 0 20px 0;
    }

    .document {
        z-index: 2;
        position: relative;
        margin: 0;
        top: -170px;
        left: 300px;
    }

    .documents img {
        width: 58px;
        height: 71px;
    }

    .folders {
        display: none;
    }
}
