.formContainer {
    background: #FFFFFF;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000026;
    min-width: 730px;
}

.formContainer p {
    font-size: 14px;
    color: #949494;
    margin-top: 10px;
    line-height: 16.94px;
}

.label {
    display: block;
    margin: 10px;
    font-size: 14px;
    color: #949494;
}

/*.label p {*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    opacity: 100%;*/
/*}*/

.input,
.select,
.dateInput {
    /*height: 43px;*/
    width: 60%;
    padding: 10px;
    /*margin-bottom: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input,
.dateInput::placeholder {
    color: #949494;
    text-align: center;
}

select.custom-select {
    background: #FFFFFF url('../assets/img/dropdown-arrow.svg') no-repeat right 10px center;
    border: 1px solid #ccc;
    padding: 10px 30px 10px 10px; /* Резервируем место под стрелку */
    -webkit-appearance: none; /* Стиль для Safari */
    -moz-appearance: none;    /* Стиль для Firefox */
    appearance: none;         /* Стиль для прочих браузеров */
    width: 65%;
    border-radius: 5px;
    font-size: 14px;
}

select.custom-select:focus {
    border-color: #949494;
}

.dateInput {
    width: 176px;
}

.dateRange {
    display: flex;
    gap: 10px;
}

.checkboxGroup {
    width: 50%;
    /*margin: 10px 0;*/
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 15px 0px;
    gap: 17px;
    border: 1px ;
    border-radius: 0px;
    color: #949494;
}

.checkbox input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0px;
    border: 1px solid #949494;
}

.checkbox input[type=checkbox]:checked {
    background-image: url('../assets/img/Main/icons8-галочка-96 9.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    border: 1px solid #000000;
}

.checkbox:checked p {
    color: #000000;
    opacity: 100%;
}

.button-container {
    margin-left: 15%;
}

.button {
    margin-top: 8ch;
    width: 305px;
    height: 50px;
    background-color: #5970FF;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.error-message {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: red;
    margin-bottom: 10px;
    text-align: center;
    visibility: hidden;
}

.input .error-message {
    visibility: visible;
}
