main {
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.search {
    position: relative;
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.container {
    max-width: 817px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-images {
    display: flex;
    flex-direction: column;
    gap: 108px;
}

.documents {
    display: flex;
    flex-direction: row;
    gap: 166px;
}

/*.search h1 {*/
/*    margin: 0;*/
/*    font-size: 60px;*/
/*    font-weight: 900;*/
/*    line-height: 72px;*/
/*    letter-spacing: 0.01em;*/
/*}*/

.search p {
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

.document img {
    margin: 63px 64px 14px 62px;
    width: 91px;
}

.searching-man {
    margin-left: 10%;
}
