.formContainer {
    width: 812px;
    height: 513px;
    background: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 92px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #00000033;
    min-width: 375px;
    margin-bottom: 80px;
}

.formContainer p {
    font-size: 14px;
    color: var(--grey);
    margin-top: 10px;
    line-height: 17px;
}

.label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

.input,
.select,
.dateInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.dateInput::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.input,
.dateInput::placeholder {
    color: var(--grey);
    text-align: center;
}

select.custom-select {
    background: #FFFFFF url('../assets/img/dropdown-arrow.svg') no-repeat right 10px center;
    border: 1px solid #ccc;
    padding: 10px 30px 10px 10px; /* Резервируем место под стрелку */
    -webkit-appearance: none; /* Стиль для Safari */
    -moz-appearance: none;    /* Стиль для Firefox */
    appearance: none;         /* Стиль для прочих браузеров */
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
}

select.custom-select:focus {
    border-color: var(--grey);
}

.dateInput {
    margin-left: 15px;
    width: 156px;
    background: #FFFFFF url('../assets/img/dropdown-arrow.svg') no-repeat right 10px center;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px; /* Резервируем место под стрелку */
    -webkit-appearance: none; /* Стиль для Safari */
    -moz-appearance: none;    /* Стиль для Firefox */
    appearance: none;         /* Стиль для прочих браузеров */
}

.dateInput:focus {
    background: #FFFFFF none no-repeat right 10px center;
}

.dateRange {
    display: flex;
    gap: 10px;
}

.button {
    margin-top: 40px;
    width: 305px;
    height: 50px;
    background-color: var(--additional-blue-color);
    color: var(--white);
    border: none;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.required {
    color: #000000;
    margin-left: 5px;
}

.touched-empty {
    color: #FF0000;
}

.label-container {
    display: flex;
    align-items: baseline;
}

.input.error,
.dateInput.error {
    border-color: #FF0000;
}

.input.error::placeholder,
.dateInput.error::placeholder {
    color: #FF0000;
}

.error-text {
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}


@media screen and (max-width: 1360px) {
    .formContainer {
        width: 375px;
        height: auto;
        display: block;
        min-width: 375px;
        padding: 14px;
        margin-bottom: 20px;
        margin-top: -30px;
    }

    .inputsContainer {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .inputContainer {
        width: 88%;
    }

    .label {
        text-align: start;
    }

    select.custom-select {
        width: 100%;
        margin: 0;
    }

    .dateInput {
        width: 100%;
        margin-top: 20px;
    }

    .dateRange {
        flex-direction: column;
        align-items: center;
    }

    .button-container {
        margin-left: 0;
    }

    .button-container p {
        margin-bottom: 20px;
    }

    .button {
        font-size: 20px;
        width: 100%;
    }

    width: 347px;
    height: 327px;
}